.container-fluid{
    padding: 0px;
    background-color: #fafafa;
}
nav{
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
}
nav img{
    height: 25px;
    width: auto;
}
.inner-container{
    padding: 10px;
    max-width: 950px;
    margin: auto;
}
.profile_header img{
    width: 70%;
    height: auto;
    border-radius: 100%;
}
.gallery{
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}
.username {
    font-size: 40px;
}
.profile_header .btn{
    margin: 20px;
    vertical-align: super;
}
.modal-dialog{
    max-width: 950px !important;
    background-color: #ffffff;
}
.image-details{

}
.modal-dialog .col-8{
    padding: 0px ;
    margin: 0;
}
.modal-dialog .col-4{
    margin: 0;
}
.image-details{
    padding: 10px
}
.comment-img{
    margin: 10px;
    height: 30px;
    width: auto;
    border-radius: 100%;
}
.img-card{
    max-width: 600px;
    margin: 20px;
}
.forms{
    max-width: 350px;
    margin: 15px auto;
    background-color: #ffffff;
    padding: 30px;
}
nav form{
    margin: auto;
}
.comment-card{
    background-color: white;
}